

body {
  background-color:black;
  color:slategray;
}

h1, h2, h3, p {
  font-family: sans-serif;
      }

#cursive {
  font-family: cursive;
  font-weight: bold;
}

#goldfish {
  height: 200px;
}

.caption{
  font-style: italic;
  font-size: 10px;
}
.title {
  color: red;
  font-family: times;
}

.change{
  color: white;
}